
@font-face {
    font-family: monserrat;
    src: url(../assets/montserrat/Montserrat-Regular.ttf);
}

:root {
    --background-colors-first: #F5F0E7;
    --background-colors-second: #BC955C;
    --background-colors-third: #9D2445;

    --background-color-overview: rgba(154, 141, 141, 0.3);
    
    --text-color-title: #767473;
    --text-color-subtitle: #852133;
    --text-color-paragraph: #030303;
    --text-color-help: #969899;

    --text-style-title-size: 60px;
    --text-style-title-weight: bold;
    --text-style-subtitle-size: 32px;
    --text-style-subtitle-weight: 600;
    --text-style-paragraph-size: 22px;
    --text-style-help-size: 20px;
    --text-style-help-weight: lighter;

    --border-radius-size: 14px;

    --padding-x: 5px;
    --padding-y: 15px;
    --margin-x: 10px;
    --margin-y: 20px;

    --border-container-size: 1px;
}

body {
    background-color: var(--background-colors-first);
    font-family: monserrat, sans-serif;
}

.bg-nav-color {
    background-color: var(--background-colors-third);
}

.style-title {
    color: var(--text-color-title);
    font-size: var(--text-style-title-size);
    font-weight: var(--text-style-title-weight);
}

.style-subtitle {
    color: var(--text-color-subtitle);
    font-size: var(--text-style-subtitle-size);
    font-weight: var(--text-style-subtitle-weight);
}

.style-paragraph {
    color: var(--text-color-paragraph);
    font-size: var(--text-style-paragraph-size);
}

.style-help {
    color: var(--text-color-help);
    font-size: var(--text-style-help-size);
    font-weight: var(--text-style-help-weight);
}

.margin-container-y{
    margin-top: var(--margin-y);
    margin-bottom: var(--margin-y);
}

.margin-container-x{
    margin-left: var(--margin-x);
    margin-right: var(--margin-x);
}

.padding-container{
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);
}

.container-overview {
    background-color: var(--background-color-overview);
    border-radius: var(--border-radius-size);
    border-color: #fff;
}